.container {
  display: flex;
  height: 100vh;
  --height: 100vh;
  transition: margin-left 0.3s;
}

.content {
  flex: 1;
  background-color: transparent;
  padding: 0px;
  transition: margin-left 0.3s;
}


.fixed-sidebar {
  width: 40px;
  background-color: transparent;
  color: #fff;
  transition: all ease 0.1s;
}

.retractable-sidebar {
  width: 1px;
  background-color: #262626;
  color: #fff;
  
  transition: width ease 1.15s;
}

.filler {
  height: calc(var(--height) - 40px);
  width: 100%;
  flex-grow: 1;
  box-sizing: border-box;
  border: 0 1px 0 1px solid #303030;
}



.icon-hover {
  width: 30px;
  min-width: 30px;
  height: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  transition: all 0.1s;
}

.icon-hover:hover {
  border-radius: 5px;
  background-color: rgba(69, 69, 69, 1); /* Change the background color on hover */
}